name: NewsKernal Daily Generator

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  broadcast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run NewsKernal Engine
        env:
          # LEFT SIDE = What Python wants. RIGHT SIDE = What you named the Secret.
          NEWSDATA_API_KEY: ${{ secrets.NEWS_API_KEY }} 
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python backend/daily_generator.py
